{% block content %} 
  <header>
    <div class="row">
      <div class="large-4 medium-4 small-10 columns">
        <h1>
          <img src="../assets/img/codetlan.png" class="logo" alt="CODETLAN">
        </h1>
      </div>
      <div class="large-8 medium-8 small-2 columns">
        <div id="Mainer" data-magellan-expedition="absolute">
          <ul class="sub-nav">
            <li data-magellan-arrival="inicio"><a href="#inicio">Inicio</a></li>
            <li data-magellan-arrival="servicios"><a href="#servicios">Servicios</a></li>
            <li data-magellan-arrival="portafolio"><a href="#portafolio">Portafolio</a></li>
            <li data-magellan-arrival="clientes"><a href="#clientes">Clientes</a></li>
            <li data-magellan-arrival="contacto"><a href="#contacto">Contacto</a></li>
          </ul>
        </div>
        <div class="IconMain">&#9776;</div>
      </div>
    </div>
  </header>
  <section id="inicio" data-magellan-destination="inicio">
    <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <h2>Convertimos tus ideas en aplicaciones</h2>
        <p>Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis reformidans eu, legimus senserit definiebas an eos.</p>
      </div>
    </div>
    <div class="mac">
      <img src="../assets/img/mac-animate.gif" class="mac" alt="">
    </div>
  </section>
  <section id="servicios" data-magellan-destination="servicios">
    <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <h2>Esto es lo que hacemos</h2>
        <div class="row">
          <div class="large-4 medium-4 small-12 columns">
            <div class="icon left">
              <img src="../assets/img/icon-web.png" alt="">
            </div>
            <div class="description left">
              <h4>Aplicaciones Web</h4>
              <p>Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id.</p>
            </div>
          </div>
          <div class="large-4 medium-4 small-12 columns">
            <div class="icon left">
              <img src="../assets/img/icon-phone.png" alt="">
            </div>
            <div class="description left">
              <h4>Aplicaciones Móviles</h4>
              <p>Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id.</p>
            </div>
          </div>
          <div class="large-4 medium-4 small-12 columns">
            <div class="icon left">
              <img src="../assets/img/icon-bulb.png" alt="">
            </div>
            <div class="description left">
              <h4>Sistemas Embedidos</h4>
              <p>Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id.</p>
            </div>
          </div>
          <!-- line -->
          <div class="large-4 medium-4 small-12 columns">
            <div class="icon left">
              <img src="../assets/img/icon-data.png" alt="">
            </div>
            <div class="description left">
              <h4>Base de Datos</h4>
              <p>Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id.</p>
            </div>
          </div>
          <div class="large-4 medium-4 small-12 columns">
            <div class="icon left">
              <img src="../assets/img/icon-shop.png" alt="">
            </div>
            <div class="description left">
              <h4>Tienda en Línea</h4>
              <p>Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id.</p>
            </div>
          </div>
          <div class="large-4 medium-4 small-12 columns">
            <div class="icon left">
              <img src="../assets/img/icon-study.png" alt="">
            </div>
            <div class="description left">
              <h4>Consultoría y Capacitación</h4>
              <p>Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="portafolio" data-magellan-destination="portafolio">
    <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <h2>Estos son los resultados</h2>
        <div class="slide">
          <ul class="example-orbit" data-orbit>
            <li>
              <img src="../assets/img/slide-intrinno.jpg" alt="slide 1" />
              <div class="orbit-caption">
                <h4>Intrinno</h4>
                <p>Plataforma para poder lanzar retos empresariales, mediante el uso de recompensas.</p>
              </div>
            </li>
            <li class="active">
              <img src="../assets/img/slide-intrinno.jpg" alt="slide 2" />
              <div class="orbit-caption">
                <h4>Intrinno</h4>
                <p>Plataforma para poder lanzar retos empresariales, mediante el uso de recompensas.</p>
              </div>
            </li>
            <li>
              <img src="../assets/img/slide-intrinno.jpg" alt="slide 3" />
              <div class="orbit-caption">
                <h4>Intrinno</h4>
                <p>Plataforma para poder lanzar retos empresariales, mediante el uso de recompensas.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="ideas">
      <div class="large-6 medium-6 small-12 columns">
        <div class="wide-text">
          <span class="magenta">APOYA<br>MOS</span><br>
          <span class="pink">TUS</span><br>
          <span class="purple">IDEAS</span><br>
        </div>
      </div>
      <div class="large-6 medium-6 small-12 columns">
        <div class="bullets">
          <ul>
            <li>
              <h4>¿Tienes una idea, <br>pero no recursos tecnológicos?</h4>
              <p>Codetlan te da los recursos más innovadores en software y hardware para analizar, probar y convertir tu idea en una aplicación lista para usarse.</p>
            </li>
            <li>
              <h4>Contáctanos</h4>
              <p>Te damos la mejor consultoría tecnológica, análisis y factibilidad de tu proyecto. Si tus necesidades y las nuestras son cubiertas, te invitamos a crear una alianza que pueda impulsar tu idea al siguiente nivel y la convierta en una empresa exitosa.</p>
            </li>
            <li>
              <h4>Con un equipo especializado.</h4>
              <p>Asignamos un equipo que entienda tus necesidades, para convertir  tus ideas en aplicaciones.</p>
            </li>
            <li>
              <h4>Inversiónes Tecnológicas Codetlan.</h4>
              <p>Convertimos Ideas en aplicaciones.</p>
            </li>
            <li>
              <img src="../assets/img/icons.png" alt="Apoyamos tus ideas">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="clientes" data-magellan-destination="clientes">
    <div class="list">
      <div class="row">
        <div class="large-12 medium-12 small-12 columns">
          <h2>Algunos de nuestros clientes</h2>
          <div class="logos">
            <div><img src="../assets/img/creamuebles.png" alt="creamuebles"></div>
            <div><img src="../assets/img/comex.png" alt="comex"></div>
            <div><img src="../assets/img/elixir.png" alt="elixir"></div>
            <div><img src="../assets/img/intrinno.png" alt="intrinno"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contacto" data-magellan-destination="contacto">
    <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <h2>Trabajemos juntos</h2>
        <div class="row">
          <div class="large-6 medium-6 small-12 columns">
            <div class="info">
              <img src="../assets/img/codetlan-vertical.png" alt="CODETLAN" class="logo-vertical">
              <p>soporte@codetlan.com</p>
              <ul class="links">
                <li>
                  <a href="#"><img src="../assets/img/twitter.png" alt="twitter"></a>
                </li>
                <li>
                  <a href="#"><img src="../assets/img/github.png" alt="github"></a>
                </li>
              </ul>
              <p>
                ®2015 CODETLAN
              </p>
            </div>
          </div>
          <div class="large-6 medium-6 small-12 columns">
            <form>
              <p><input type="text" placeholder="Nombre:" id="name"></p>
              <p><input type="email" placeholder="Email:" id="email"></p>
              <p><input type="text" placeholder="Teléfono:" id="phone"></p>
              <p><textarea rows="8">Mensaje:</textarea></p>
              <p><input type="radio"> Acepto la <a href="#" data-reveal-id="Privacy">Política de Privacidad</a></p>
              <p><input type="submit" value="Enviar"></p>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="Privacy" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2>Política de Privacidad</h2>
      <p>Contenido para la política de Privacidad</p>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  </section>

{% endblock %}